<div class='container'>
  <p id="notice"><%= notice %></p>

  <div class="col-md-6">
    <div class="row">
      <span>
        <span id='word'><%= @example.example %></span>
        <%= link_to 'Edit', edit_example_path(@example) %>
      </span>
    </div>
    
